html {
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white;
}

header p {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

header a {
    color: aquamarine;
}

.video p{
    text-align: center;
}

.about h3 {
   color: white;
   font-weight: 300px;
   font-size: 42px; 
}

.about p {
    color: gray;
    font-size: 21px;
}