html {
    background-color: black;
}

header h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white;
}

header p {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

header a {
    color: aquamarine;

}